#Nintendo
{
    color: red;
    font-size: 40px;
}

#PS
{
    color: blue;
    font-size: 40px;
}

#Xbox
{
    color: green
    font-size: 40px;
}

.consola
{
    color:midnightblue;
    font-size: 20px;
}

.imagen{
    height: auto;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    width: 50%;
    align;
}